body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}

.phishing {
    background-color: #FFCCCC; /* Warna merah untuk terindikasi phishing */
}

.not-phishing {
    background-color: #CCFFCC; /* Warna hijau untuk bukan phishing */
}
/* Custom styles for the login card */
.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-weight: bold;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.container {
    padding-top: 100px;
    padding-bottom: 100px;
}
body {
    background-color: #2d0a31; /* Ganti dengan warna yang diinginkan */
}